@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.actions {
  grid-column: 1 / -1;
  align-self: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 86px;

  &__logo {
    height: 38px;
    width: 130px;

    @media (min-width: 744px) {
      height: 56px;
      width: 187px;
    }
  }

  &__icons {
    display: flex;
  }

  &__phone {
    position: relative;
    height: 24px;
    width: 24px;
    margin-right: 24px;

    &--hidden {
      opacity: 0;
    }

    &-number {
      display: none;
      position: absolute;
      top: 8px;
      left: 0;
      transform: translateX(calc(-100% - 20px));
      white-space: nowrap;
      font-family: $font;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      color: #fff;

      @media (min-width: 1260px) {
        display: block;
      }
    }

    &:not(:hover) .actions__phone-number {
      @include visually-hidden;
    }

    @media (min-width: 744px) {
      height: 32px;
      width: 32px;
      margin-right: 32px;
    }
  }

  &__burger {
    height: 24px;
    width: 24px;

    @media (min-width: 744px) {
      height: 32px;
      width: 32px;
    }
  }

  &__img {
    width: 100%;
    background-size: cover;
  }
}
