@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.bike {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;

  @media (min-width: 744px) {
    grid-column: 2 / 6;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 32px;
    transition: 300ms ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    @include small-title;

    margin-bottom: 8px;
  }

  &__paragraph {
    @include small-paragraph;

    margin-bottom: 16px;
  }

  &__price {
    @include small-title;
  }
}
