@use '../utils/variables' as *;

.contact {
  &__box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-column: 1 / -1;

    @media (min-width: 744px) {
      grid-column: 4 / 7;
    }

    @media (min-width: 1260px) {
      grid-column: 8 / 10;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  &__title {
    font-family: $font;
    font-weight: 400;
    font-size: 14px;
    color: $font-color;
  }

  &__paragraph {
    display: inline-block;
    font-family: $font;
    font-weight: 500;
    font-size: 16px;
    color: $font-color;
    text-decoration: none;

    &:hover {
      color: #c3c3c8;
    }
  }
}
