@use '../utils/variables' as *;

.description {
  &__title {
    font-family: $font;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: -1.5px;
    color: $font-color;
    margin-bottom: 32px;
    grid-column: 1 / -1;

    @media (min-width: 744px) {
      grid-column: 1 / 4;
      font-size: 48px;
    }
  }

  &__paragraph {
    font-family: $font;
    font-weight: 500;
    font-size: 23px;
    color: $font-color;
    grid-column: 1 / -1;

    @media (min-width: 744px) {
      grid-column: 4 / 7;
    }
  }
}
