@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.detail {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  &__photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    margin-bottom: 16px;

    @media (min-width: 744px) {
      @include tablet-grid;

      margin: 0 0 16px;
    }

    &-photo {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      transition: 300ms ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      @media (min-width: 744px) {
        grid-column: span 2;
        aspect-ratio: 0;
      }

      &--bigger {
        @media (min-width: 744px) {
          grid-column: span 4;
          aspect-ratio: 0;
        }
      }
    }
  }

  &__title {
    @include small-title;

    margin-bottom: 8px;
  }

  &__paragraph {
    @include small-paragraph;
  }
}
