@use '../utils/mixins' as *;

.header {
  @include phone-grid;

  margin: 0;
  padding: 0 20px 88px;
  height: 100vh;
  background-image: url(images/bike.jpg);
  background-size: cover;
  background-position: right -60px center;
  background-repeat: no-repeat;

  @media (min-width: 744px) {
    background-position: center;
    padding: 0 72px 130px;
  }

   @media (min-width: 1260px) {
    padding: 0 120px 200px;
  }
}
