@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.main {
  background-color: $color-secondary;
  padding: 60px 0 120px;

  @media (min-width: 744px) {
    padding: 120px 0 102px;
  }

  @media (min-width: 1260px) {
    padding: 120px 0 160px;
  }

  &__description {
    @include phone-grid;

    padding-bottom: 92px;

    @media (min-width: 744px) {
      @include tablet-grid;

      padding-bottom: 132px;
    }

    @media (min-width: 1260px) {
      @include desktop-grid;

      padding-bottom: 160px;
    }
  }

  &__bikes {
    @include phone-grid;

    padding-bottom: 92px;

    @media (min-width: 744px) {
      @include tablet-grid;

      padding-bottom: 120px;
    }

    @media (min-width: 1260px) {
      @include desktop-grid;

      padding-bottom: 140px;
    }
  }

  &__details {
    @include phone-grid;

    padding-bottom: 80px;

    @media (min-width: 744px) {
      @include tablet-grid;

      padding-bottom: 120px;
    }

    @media (min-width: 1260px) {
      @include desktop-grid;

      padding-bottom: 180px;
    }
  }

  &__contact {
    @include phone-grid;

    @media (min-width: 744px) {
      @include tablet-grid;
    }

    @media (min-width: 1260px) {
      @include desktop-grid;
    }
  }
}
